.app {
  position: relative;

  display: flex;

  color: $dark-gray;
  font-size: 16px;

  @include media-phone {
    padding-right: 0;
    flex-wrap: wrap;
  }
}

.app__image {
  order: 1;
  margin-left: 144px;

  @include media-phone {
    order: -1;
    margin: 0 auto;
  }
}

.app__content {
  @include media-phone {
    width: 100%;
  }
}
