.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  padding: 20px 30px;

  color: $white;

  line-height: 1;

  text-transform: uppercase;
  text-decoration: none;

  border: 1px solid $white;

  border-radius: 5px;
}

.btn-green {
  height: 57px;

  font-size: 13px;

  background: $green;
  border: 0;
}

.btn-red {
  display: inline-flex;
  height: 53px;

  font-size: 12.8px;

  text-transform: none;

  background: $red;
  border-color: $red;
  border-radius: 32px;
}
