.discography {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px 50px;

  @include media-phone {
    grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
    padding-right: 50px;
  }
}

.album {
  display: flex;
  flex-direction: column;
}

.album__image {
  order: -1;
  width: 250px;
  height: 250px;
  margin-bottom: 18px;
  object-fit: cover;

  @include media-phone {
    width: 137px;
    height: 137px;
  }
}

.album__name {
  margin: 0;

  font-size: 18px;
  text-transform: none;
}
