.footer {
  margin: 100px 0 0;
  padding: 60px 0 50px;
  overflow: hidden;

  background: linear-gradient(89.75deg, $purple 32.83%, $red 81.56%);
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 66px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 12px;

  @include media-phone {
    grid-template-columns: 1fr;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.footer__title {
  margin: 0 0 15px;

  font-size: 18px;
  text-align: left;
}

.footer__menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__menu--horizontal {
  @extend %footer__menu--horizontal;
  display: flex;

  @include media-phone {
    display: block;
  }
}

.footer__menu-item {
  font-size: 16px;

  %footer__menu--horizontal & + & {
    margin-left: 15px;
  }

  @include media-phone {
    %footer__menu--horizontal & + & {
      margin-top: 15px;
      margin-left: 0;
    }
  }
}

.footer__link {
  color: $gray;
  font-size: 16px;
  text-decoration: none;

  .footer__row & {
    display: block;
  }

  .footer__contact + & {
    display: block;
  }
}

.footer__contact {
  margin: 0;

  color: $gray;
  font-size: 16px;
}

.footer__socials {
  display: flex;
}

.footer__social {
  display: flex;
  align-items: center;

  & + & {
    margin-left: 24px;
  }
}

.footer__row {
  position: relative;

  grid-column: 1 / -1;

  width: 100%;
  margin-top: 45px;
  padding-top: 40px;

  &::before {
    position: absolute;
    top: 0;
    right: -9999px;
    left: -9999px;

    height: 1px;

    background: $gray;

    content: '';
  }
}
