.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 570px;

  color: $white;
}

.form__input {
  height: 50px;
  padding: 0 20px;

  color: $white;
  font-weight: bold;
  font-size: 14px;

  background: none;

  border: 2px solid #cacaca;

  border-radius: 3px;

  &::placeholder {
    color: $white;
  }
}

.form__button {
  grid-column: 1 / -1;
  height: 57px;
  padding: 20px 30px;

  font-size: 13px;

  line-height: 1;

  text-transform: uppercase;

  background: #34c176;
  border: 0;
  border-radius: 5px;
}
