.hero {
  padding: 200px calc((100% - #{$layout-width}) / 2);

  color: $white;

  background-position: center;
  background-size: cover;

  @include media-phone {
    padding-top: 225px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.hero--index {
  text-align: center;

  background-image: url('../../images/banner.png');

  @include media-phone {
    padding-top: 250px;
  }
}

.hero--artist {
  padding-bottom: 220px;

  background-image: url('../../images/Morten\ Harket.png');
}

.hero__subtitle {
  margin: 0 0 32px;

  @include media-phone {
    width: 100%;
    margin: 0 0 16px;
  }
}

.hero__description {
  display: block;
  margin-bottom: 16px;

  font-size: 16px;

  .hero--artist & {
    margin-top: 16px;
    margin-bottom: 48px;
  }

  @include media-phone {
    width: 100%;
  }
}

.hero__form {
  width: 570px;
  margin: 0 auto;

  @include media-phone {
    width: 100%;
  }
}

.hero__btn {
  display: inline-flex;

  & + & {
    margin-left: 1.5rem;
  }

  @include media-phone {
    display: flex;

    & + & {
      margin: 1.5rem 0 0;
    }
  }
}
