.news {
  display: grid;
  grid-template-areas: 'image content';
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

  font-size: 16px;

  & + & {
    grid-template-areas: 'content image';
    margin-top: 65px;
  }

  @include media-phone {
    grid-template-areas:
      'image'
      'content';
    grid-template-columns: 1fr;

    & + & {
      grid-template-areas:
        'image'
        'content';
    }
  }
}

.news__image {
  grid-area: image;
}

.news__content {
  grid-area: content;
}

.news__title {
  margin: 0 0 30px;

  @include media-phone {
    margin: 0 0 16px;
  }
}

.news__note {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 25px;

  color: $orange;
  font-size: 12.8px;
  line-height: 19px;
}

.news__date {
  color: $dark-gray;
}

.news__btn {
  display: inline-flex;
  height: 53px;
  margin-top: 48px;
  padding: 16px 30px;

  font-size: 12.8px;
}
