.section {
  margin: 0 auto;
  padding: 100px calc((100% - #{$layout-width}) / 2) 0;

  @include media-phone {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.section__text {
  margin: 0;

  color: $white;

  font-size: 16px;
}

.section__text--center {
  text-align: center;
}
