.similars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px 50px;
  padding-right: 50px;

  @include media-phone {
    grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
  }
}

.similar {
  display: flex;
  flex-direction: column;
  max-width: 250px;

  font-size: 16px;

  text-align: center;

  @include media-phone {
    max-width: 137px;
  }
}

.similar__name {
  margin: 0;

  font-size: 18px;
}

.similar__image {
  order: -1;
  width: 250px;
  height: 250px;
  margin: 0 auto 17px;
  object-fit: cover;

  @include media-phone {
    width: 137px;
    height: 137px;
  }
}
