.tracks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 50px;
  padding-right: 50px;

  @include media-phone {
    grid-template-columns: 1fr;
    padding-right: 0;
  }
}

.track {
  display: flex;
  align-items: center;

  color: $gray;
  font-size: 12.8px;

  &::after {
    margin-left: auto;

    content: attr(data-duration);
  }
}

.track__image {
  width: 55px;
  height: 55px;
  margin-right: 15px;
  object-fit: cover;
}

.track__info {
  display: flex;
  flex-direction: column;
}

.track__name {
  margin: 0;

  color: $white;
  font-weight: bold;
  font-size: 12.8px;
  text-transform: uppercase;
}
