body {
  color: #cacaca;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

  background: #08020d;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 38px;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  h1 {
    font-size: 18px;
  }
}
