*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: $dark-gray;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

  background: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;

  cursor: pointer;
}

h1 {
  margin: 0;

  color: $white;

  font-size: 60px;
  text-transform: uppercase;

  @include media-phone {
    font-size: 30px;
  }
}

h2 {
  margin: 0 0 50px;

  color: $white;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;

  @include media-phone {
    font-size: 18px;
  }
}

h3 {
  color: $white;
  font-size: 24px;

  @include media-phone {
    font-size: 16px;
  }
}

h4 {
  color: $white;
  font-size: 18px;
}
